<div class="manager-page">
  <!-- Top Bar -->
  <div class="top-bar">
    <h2>Manager Dashboard</h2>
    <div class="top-right-icons">
    <i class="fas fa-bell notification-icon"></i>
    <div class="manager-logo" (click)="toggleLogoutPopup()">
      <img src="assets/manager.svg" alt="Manager Logo" class="logo-image" />
      <!-- Logout Popup -->
      <app-logout *ngIf="showLogoutPopup" (onLogout)="handleLogout()"></app-logout>
    </div>
  </div>
  </div>

  <div class="sidebar">
    <ul>
      <li (click)="navigateToDashboard()">Dashboard</li>
      <li (click)="navigateToCreateUser()">Create User</li>
      <li (click)="navigateToDeleteUser()">Delete User</li>
      <li class="selected">Create Group</li>
      <li (click)="navigateToUpdateGroup()">Update Group</li>
    </ul>
  </div>

  <div class="content">
    <h3>Create Group</h3>
    <div class="form-group">
      <label for="groupName">Group Name</label>
      <br>
      <input type="text" id="groupName" [(ngModel)]="groupName" placeholder="Enter group name" required />
      <br>
      <p *ngIf="groupNameErrorMessage" class="error-message">{{ groupNameErrorMessage }}</p>
    </div>

    <div class="form-group">
      <label for="managerUsername">Manager Username</label>
      <br>
      <!-- <input type="text" id="managerUsername" [(ngModel)]="managerUsername" placeholder="Enter manager username" required /> -->
      <select [(ngModel)]="managerUsername" id="managerUsername" required>
        <option value="" selected hidden>Select a manager</option>
        <option *ngFor="let manager of managers" [value]="manager.username">{{ manager.username }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Add Users</label>
      <br>
      <!-- <input [(ngModel)]="newUser" placeholder="Enter username" /> -->
      <select [(ngModel)]="newUser" required>
        <option value="" selected hidden>Select a user to add</option>
        <option *ngFor="let user of availableUsernames" [value]="user">{{ user }}</option>
      </select>
      <br>
      <button class="add-user-btn" (click)="addUser()">Add User</button>
      <p *ngIf="userNotExistErrorMessage" class="error-message">{{ userNotExistErrorMessage }}</p>
    </div>

    <div class="user-list">
      <div *ngFor="let user of users" class="user-item">
        {{ user }}
        <button class="remove-user" (click)="removeUser(user)">Remove</button>
      </div>
    </div>

    <div class="form-group">
      <label for="budget">Budget</label>
      <br>
      <input type="number" id="budget" [(ngModel)]="budget" placeholder="Enter budget" />
      <p *ngIf="budget && budget > 5000" class="error-message">Budget cannot exceed 5000.</p>
    </div>

    <button class="create-group" (click)="createGroup()">Create Group</button>
  </div>

  <!-- Success Modal -->
  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal-content">
      <p>{{ responseMessage }}</p>
      <button (click)="closeModal()" class="btn">OK</button>
    </div>
  </div>
</div>