<div class="manager-page">
  <!-- Top Bar -->
  <div class="top-bar">
    <h2>Manager Dashboard</h2>
    <div class="top-right-icons">
      
      <i class="fas fa-bell notification-icon" (click)="toggleNotifications()" title="View Notifications"></i>
      <div class="notifications-box" *ngIf="showNotifications">
      <ul>
        <li *ngFor="let notification of notifications">
          <p>{{ notification.message }}</p>
          <span class="timestamp">{{ notification.timestamp }}</span>
        </li>
      </ul>
      </div>

      <div class="manager-logo" (click)="toggleLogoutPopup()">
        <img src="assets/manager.svg" alt="Manager Logo" class="logo-image" />
        <!-- Logout Popup -->
        <app-logout *ngIf="showLogoutPopup" (onLogout)="handleLogout()"></app-logout>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li [class.selected]="currentPage === 'dashboard'" (click)="navigateToDashboard()">Dashboard</li>
      <li [class.selected]="currentPage === 'create-user'" (click)="navigateToCreateUser()">Create User</li>
      <li [class.selected]="currentPage === 'delete-user'" (click)="navigateToDeleteUser()">Delete User</li>
      <li [class.selected]="currentPage === 'create-group'" (click)="navigateToCreateGroup()">Create Group</li>
      <li [class.selected]="currentPage === 'update-group'" (click)="navigateToUpdateGroup()">Update Group</li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content">
    <h1>Hi, {{ managerUsername }}!</h1>
    <div class="dropdown-group">
      <label for="groupDropdown">Your Groups:</label>
      <select id="groupDropdown" (change)="onGroupSelect($event)">
        <option value="" disabled selected>Select a group</option>
        <option *ngFor="let group of groups" [value]="group.group_name">{{ group.group_name }}</option>
      </select>
    </div>




    <div class="charts-container container">
      <!-- First Row -->
      <div class="row mb-4">
        <!-- Thin Graph (Members) -->
        <!-- <div class="col-md-4"> -->
        <div class="chart-area small-chart">
          <h5 [class.centered]="!selectedGroup"><i class="fas fa-users"></i> Your Groups</h5>
          <div *ngIf="selectedGroup; else placeholder" class="group-data">
            <div class="group-box created">
              <p>Groups Created</p>
              <h2>{{ groupsCreated || 0 }}</h2>
            </div>
            <div class="group-box limit">
              <p>Group Limit</p>
              <h2>{{ groupLimit || 'N/A' }}</h2>
            </div>
          </div>
          <ng-template #placeholder>
          </ng-template>
        </div>
        <!-- </div>     -->

        <!-- Wide Graph (Budget Usage) -->
        <!-- <div class="col-md-6"> -->
        <div class="chart-area wide-chart">
          <h5><i class="fas fa-chart-pie"></i> Budget Usage</h5>
          <div *ngIf="selectedGroup; else placeholderContent" class="ring-chart-container">
            <div class="chart">
              <canvas id="ringChart"></canvas>
            </div>
            <div class="ring-chart-legend">
              <p><span class="legend-box consumed"></span>Consumed Budget</p>
              <p><span class="legend-box remaining"></span>Remaining Budget</p>
            </div>
          </div>
          <ng-template #placeholderContent>
            <!-- <div class="chart-placeholder">Budget Usage</div> -->
          </ng-template>
        </div>
        <!-- </div>       -->

        <!-- Small Graph (Group Info) -->
        <!-- <div class="col-md-3"> -->
        <div class="chart-area small-chart">
          <h5 [class.centered]="members.length === 0"><i class="fas fa-users"></i> Members</h5>
          <div *ngIf="members.length > 0; else placeholder" class="member-data">
            <div class="member-box" *ngFor="let user of members">
              <p>{{ user }}</p>
            </div>
          </div>
          <ng-template #placeholder>
            <!-- <p>No Members Available</p> -->
          </ng-template>
        </div>


        <!-- Second Row -->
        <div class="row">
          <!-- AWS Services -->

          <div class="chart-area medium-chart">
            <h5><img src="assets/aws.svg" alt="AWS Logo" class="service-logo" style="
    height: 29px">  AWS Services</h5>
            <canvas id="awsChart"></canvas> <!-- Chart container -->
          </div>


          <!-- GCP Services -->
          <div class="chart-area tall-chart">
            <h5><img src="assets/gcp.svg" alt="GCP Logo" class="service-logo" style="
    height: 25px">  GCP Services</h5>
            <canvas id="gcpChart"></canvas>
          </div>


          <!-- Service Costs -->
          <div class="chart-area large-chart">
            <h5><i class="fas fa-dollar-sign"></i> Service Costs</h5>
            <p>Cost Breakdown of Services</p>
          </div>
        </div>
      </div>





    </div>
  </div>