.admin-page {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  // width: 100vw;
  font-family: Arial, sans-serif;

  .top-bar {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
  }

  .admin-logo {
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
      font-size: 1rem;
      font-weight: bold;
    }

    .logo-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .sidebar {
    grid-row: 2 / -1;
    padding: 0;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 25px 20px;
        cursor: pointer;
        color: #333;
        font-weight: bold;
        transition: background-color 0.3s;
        
        // Thin dividing line between items
        border-bottom: 1px solid #ddd;

        &:hover {
          background-color: #e0e0e0;
        }

        &.selected {
          background-color: #cecece;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }

  .content {
    grid-column: 2 / -1;
    padding: 40px;
  
    .search-bar {
      position: relative;
      margin-bottom: 35px;
      width: 250px;
  
      input {
        padding: 10px 20px 10px 35px; // Add more padding to the left for icon
        width: 100%; // 100% of the defined width (300px)
        border: 1px solid #ddd;
        border-radius: 20px;
        font-size: 1rem;
        outline: none;
      }
  
      .search-icon {
        position: absolute;
        left: 10px; // Move to the left side
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        font-size: 1rem;
      }
    }
  
    .user-list {
      h3 {
        font-size: 1.4rem;
        color: #333;
        font-weight: bold;
        margin-bottom: 25px;
      }
  
      .table-container {
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
      }
  
      th, td {
        padding: 15px;
        text-align: left;
        font-size: 0.9rem;
        color: #333;
      }
  
      th {
        background-color: #f4f4f4;
        font-weight: bold;
        color: #555;
      }
  
      tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      tbody tr:hover {
        background-color: #f1f1f1;
      }
  
      td:first-child {
        text-align: center;
        width: 50px;
      }
    }
  }
}  